#sub-section1{
    /* border: 2px solid; */
    height: 80vh;
    background-image: url(../image/iphone-17-pro.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    /* margin-top: 40px; */
    cursor: pointer;
}

#sub-section1 div{
    /* border: 2px solid red; */
    text-align: center;
    padding-top: 47px;
    position: relative;
    -webkit-box-flex: 0;
    flex-grow: 0;
    display: block;
    color: #f5f5f7;
}

#sub-section1 div h2{
    /* border: 2px solid red; */
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.002em;
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#sub-section1 div p{
    margin-top: 5px;
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
    color: #f5f5f7;
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
#sub-section1 div a{
    /* border: 2px solid brown; */
    margin-left: 13px;
    /* color: #2997ff; */
    color: #fff;
    border-color: #2997ff;
    background-color: #2997ff;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    border-style: solid;
    border-width: 1px;
    min-width: 28px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 18px;
    margin-bottom: 18px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: 980px;
    text-decoration: none;

}
#sub-section1 div a+a{
    /* border: 2px solid brown; */
    margin-left: 13px;
    color: #2997ff;
    /* color: #fff; */
    border-color: #2997ff;
    background: rgba(0, 0, 0, 0);
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    border-style: solid;
    border-width: 1px;
    min-width: 28px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 18px;
    margin-bottom: 18px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: 980px;
    text-decoration: none;

}

#sub-section1 div a+a:hover{
    /* border: 2px solid salmon; */
    background-color: #2997ff;
    color: #f5f5f7;
}


         /* iphone air */

#air{
    /* border: 2px solid; */
    margin-top: 10px;
    height:570px;
    background-image: url(../image/air);
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
}
#air div{
    padding-top: 53px;
    text-align: center;
    position: relative;

}



#air h2{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
    color: #1d1d1f;
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#air p{
    max-width: 305px;
    margin-top: 5px;
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    /* letter-spacing: .009em; */
    color: #1d1d1f;
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#air div a{
    /* border: 2px solid brown; */
    margin-left: 13px;
    /* color: #2997ff; */
    color: #fff;
    border-color: #2997ff;
    background-color: #0071e3;;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    border-style: solid;
    border-width: 1px;
    min-width: 28px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 18px;
    margin-bottom: 18px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: 980px;
    text-decoration: none;

}
#air div a+a{
    /* border: 2px solid brown; */
    margin-left: 13px;
    color: #0071e3;
    /* color: #fff; */
    border-color: #0071e3;
    background: rgba(0, 0, 0, 0);
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    border-style: solid;
    border-width: 1px;
    min-width: 28px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 18px;
    margin-bottom: 18px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: 980px;
    text-decoration: none;

}

#air div a+a:hover{
    /* border: 2px solid salmon; */
    background-color: #0071e3;
    color: #f5f5f7;
}
          /* i-17 watch*/
#iPhone-17{
    margin-top: 10px;
    /* border: 5px solid; */
    height: 80vh;
    display: flex;
    gap: 8px;
}
#i-17 ,#watch{
    /* border: 3px solid red; */
    height: inherit;
    flex:1;
}

#i-17{
    background-image: url("../image/i-17" );
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* border: 2px solid rgb(0, 255, 51); */
    cursor: pointer;
    margin-left: 10px;
    margin-right: 2px;
}

#watch{
    background-image: url("../image/i-watch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* border: 2px solid red; */
    cursor: pointer;
    margin-right: 10px;
    margin-left: 2px;

}
#i-17 h2{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
    color: #1d1d1f;
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    position: relative;
}
#i-17 p{
    max-width: 305px;
    margin-top: 5px;
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    /* letter-spacing: .009em; */
    color: #1d1d1f;
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#i-17 a{
    border: 2px solid brown;
    margin-left: 13px;
    /* color: #2997ff; */
    color: #fff;
    border-color: #2997ff;
    background-color: #0071e3;;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    border-style: solid;
    border-width: 1px;
    min-width: 28px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 18px;
    margin-bottom: 18px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    left: 35%;
    text-align: center;
    white-space: nowrap;
    border-radius: 980px;
    text-decoration: none;

}
#i-17 a+a{
    /* border: 2px solid brown; */
    margin-left: 13px;
    color: #0071e3;
    /* color: #fff; */
    border-color: #0071e3;
    background: rgba(0, 0, 0, 0);
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    border-style: solid;
    border-width: 1px;
    min-width: 28px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 18px;
    margin-bottom: 18px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: 980px;
    text-decoration: none;

}

#i-17 a+a:hover{
    /* border: 2px solid salmon; */
    background-color: #0071e3;
    color: #f5f5f7;
}
#watch h2{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
    color: #1d1d1f;
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    /* position: relative; */
}
#watch p{
    max-width: 305px;
    margin-top: 5px;
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    /* letter-spacing: .009em; */
    color: #1d1d1f;
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
#watch a{
    border: 2px solid brown;
    margin-left: 13px;
    /* color: #2997ff; */
    color: #fff;
    border-color: #2997ff;
    background-color: #0071e3;;
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    border-style: solid;
    border-width: 1px;
    min-width: 28px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 18px;
    margin-bottom: 18px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    left: 35%;
    text-align: center;
    white-space: nowrap;
    border-radius: 980px;
    text-decoration: none;

}
#watch a+a{
    /* border: 2px solid brown; */
    margin-left: 13px;
    color: #0071e3;
    /* color: #fff; */
    border-color: #0071e3;
    background: rgba(0, 0, 0, 0);
    font-size: 17px;
    line-height: 1.17648;
    font-weight: 400;
    letter-spacing: -.022em;
    border-style: solid;
    border-width: 1px;
    min-width: 28px;
    padding-left: 21px;
    padding-right: 21px;
    padding-top: 11px;
    padding-bottom: 11px;
    margin-top: 18px;
    margin-bottom: 18px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    border-radius: 980px;
    text-decoration: none;

}

#watch a+a:hover{
    /* border: 2px solid salmon; */
    background-color: #0071e3;
    color: #f5f5f7;
}
